<div class=post-content>
  <ol>
  <li>
  Title: <%= @post.title %>
  <br>
  Content: <%= @post.content %>
  <% @post.categories.each do |category| %>
    <br> <%= category.name %>
  <% end %>
  </li>
  </ol>
</div>
