<div class=post-content>
  Title: <%= @post.title %><br><br>
  Content: <%= @post.content %><br><br>
  Categories:<br><br>
  <% @post.categories.each do |category| %>
    <%= category.name %><br>
  <% end %>
</div>
